<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Encrypter</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style1.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='Treetog-I-Documents.ico')}}">
    <script src="..\static\validation.js"></script>
  </head>
  <body>
    <h1>PDF ENCRYPTION</h1>
    <p>falana dhamkana</p>
    <form name="Form" enctype='multipart/form-data' method="post" onsubmit="return validateForm('encrypt')">
      <label for="myfile">Select a file:</label>
      <input name="filename" type="file" id="myfile" name="myfile" required><br><br>
      <label for="password">Enter the Password: </label>
      <input name="password" type="password" required><br><br>
      <label for="cpassword">Confirm Password: </label>
      <input name="cpassword" type="password" required><br><br>
      <input type="submit" value="Encrypt">
    </form>

  </body>
</html>
