<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Merger</title>
  </head>
  <body>
    <h1>PDF Merger</h1>
    <p>falana dhamkana3</p>
    <form name="Form" enctype='multipart/form-data' method="post" onsubmit="return validateForm('encrypt')">
      <label for="filenames">Select files:</label>
      <input type="file" id="myfile" name="filenames" multiple><br><br>
      <input type="submit" value="Merge">
    </form>

  </body>
</html>
