<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Encrypter and Merger</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='Treetog-I-Documents.ico')}}">
    <link rel="stylesheet" type="text/css" href="style1.css">
  </head>
  <body>
    <p><h1>PDF ENCRYPTER AND MERGER</h1></p>
    <p>falana dhamkana <p>
    <p>Please choose one of the options below:</p>
    <ul>
      <li><a href = "encrypt">Encrypt your PDF file</a></li>
      <p></p>
      <li><a href = "decrypt">Decrypt your PDF file</a></li>
      <p></p>
      <li><a href = "change_pass">Change the password of your PDF file</a></li>
      <p></p>
      <li><a href = "merger">Merge your PDFs</a></li>
      <p></p>
    </ul>

  </body>
</html>
